.yow{
    width: 100%;
    height: 300px;
}
.sw{
    width: 110px;
    margin-left: 100px;
    margin-top: 40px;
}
.teo{
    margin-left: 100px;
    margin-top: 20px;
}
.olma{
    margin-left: 100px;
    margin-top: 40px;
}
.olma h6{
    color: red;
}
.banab h6{
    color: red;
}
.banab{
    margin-left: 30px;
    margin-top: 40px;
}
.dew{
    margin-top: 40px;
    margin-left: 250px;
    width: 160px;
    height: 45px;
}
.tugadi{
    width: 100%;
    height: 100px;
    background-color: rgb(251, 61, 61);
}
.wqqq{
    margin-left: 100px;
    padding-top: 20px;
}
.sq{
    color: white;
    margin-left: 100px;
    padding-top: 20px;
}
.we3{
    margin-left: 100px;
    /* margin-top: 92px; */
}
.we3 h6{
    margin-right: 100px;
}
.we3 img{
    margin-left: 100px;
}